@import "tailwindcss";
@plugin "daisyui" {
    themes:all;
}

/* Adds cursor pointer to buttons */
@layer base{
    button:not(:disabled),
    [role="button"]:not(:disabled){
        cursor: pointer;
    }
}